<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id=""></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txt_address" id="" cols="20" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Ward</td>
                <td>
                    <select name="sel_ward" id="">
                        <option value="">...Select...</option>
                        {% for i in ward %}
                        <option value="{{i.id}}">{{i.ward_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Houser Number</td>
                <td><input type="text" name="txt_hno" id=""></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="txt_photo" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>
</html>