<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <a href="{% url 'User:profile' %}">My profile</a><br>
    <a href="{% url 'User:complaints' %}">Complaints</a><br>
    <a href="{% url 'User:feedback' %}">Feedback</a><br>
    <a href="{% url 'User:payment' %}">Payment</a><br>
    <a href="{% url 'User:sendrequest' %}">Send Request</a><br>
    <a href="{% url 'User:viewschedule' %}">View Schedule</a><br>
</body>
</html>