<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Day</td>
                <td><input type="text" name="txt_name" id="" value="{{editday.day_name}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>

    <table>
        <tr>
            <td>#</td>
            <td>Day</td>
            <td>Action</td>
        </tr>
        {% for i in day %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.day_name}}</td>
            <td><a href="{% url 'Admin:deleteday' i.id %}">Delete</a> | <a href="{% url 'Admin:editday' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>