{% extends 'Admin/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ward</title>
</head>
<body>
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
    <form action="" method="post">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Ward</td>
                <td><input type="text" name="txt_name" class="form-control" id="" value="{{editward.ward_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Add"></td>
            </tr>
        </table>
    </form>
</div></div>
    <table class="table table-striped">
        <tr>
            <td>#</td>
            <td>Ward</td>
            <td>Action</td>
        </tr>
        {% for i in ward %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.ward_name}}</td>
            <td><a href="{% url 'Admin:deleteward' i.id %}">Delete</a> | <a href="{% url 'Admin:editward' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}